﻿@model IEnumerable<UploadCSV.DataAccess.Models.Entities.User>
@{
    Layout = null;
}

<form asp-controller="Admin" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <hr />
    <button type="submit">Upload</button>
</form>

@if (Model.Count() > 0)
{
    <hr />
    <table cellpadding="0" cellspacing="0" border="1">
        <tr>
            <td>Name</td>
            <td>Date of birth</td>
            <td>Married</td>
            <td>Phone</td>
            <td>Salary</td>
        </tr>
        @foreach (UploadCSV.DataAccess.Models.Entities.User user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.DateOfBirth</td>
                <td>@user.Maried</td>
                <td>@user.Phone</td>
                <td>@user.Salary</td>
            </tr>
        }
    </table>
}